.two-summary {
  margin-left: 3%;
}

h3 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #474d59;
  font-weight: 600;
  font-size: 18px;
}

.two-icons {
  height: 200px;
  width: 146px;
  border-radius: 4px;
  margin-left: .75%;
}

#two {
  margin-left: -23%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #474d59;
  font-weight: 600;
  font-size: 18px;
}

.hundred {
}

.horizontal {
  color: white;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background: transparent;
  display: flex;
  flex-direction: row;
  margin-left: 131px;
}

#htmlcss-hundred {
  margin-left: -38%;
  margin-top: 14.5%;
}

#javascript-hundred {
  margin-left: 9%;
  margin-top: 14.5%;
}

#react-hundred {
  margin-left: 9%;
  margin-top: 14.5%;
}
