html {
  background-color: #fafafa;
}

#header {
  background-color: rgb(18, 75, 168);
  height: 120px;
  top: 0%;
  left: -1px;
  height: 169px;
  width: 100%;
  margin: 0;
  padding: 10px;
  position: absolute;
  display: flex;
}

#top {
  width: 300px;
  height: 50px;
}

h1, h2 {
  color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 34px;
  margin-left: 8%;
  margin-top: 32%;
}

h2 {
  display: block;
  font-size: 18px;
  margin-left: 7%;
  margin-top: -6%;
  color: #e4edfd;
}

#dot {
  font-size: 10px;
  opacity: .7;
}

#match {
  border-bottom: 1px dashed #e4edfd;
  cursor: pointer;
}

#match: hover span {
  display: block;
  border-bottom: 1px solid #e4edfd
}

#profile {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 30px;
  margin-top: 4%;
  margin-left: 14%;
}

#round-icon {
    width: 11px;
    height: 11px;
    background: transparent;
    box-shadow: 0 0 0 1.5px #00d280;
    border-radius: 100%;
}

/*header {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 26px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
    color: black;
}*/
