html {
  background-color: #fafafa;
  margin-left: 8%;
}

#header {
  background-color: #104da1;
  height: 120px;
  top: 0%;
  left: -71px;
  height: 181px;
  width: 150%;
  margin: 0;
  position: absolute;
  display: flex;
  margin-left: 8%;
}

#top {
  width: 300px;
  height: 50px;
}

h1, h2 {
  color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 34px;
  margin-left: 73%;
  margin-top: 32%;
}

h2 {
  display: block;
  font-size: 18px;
  margin-left: 72%;
  margin-top: -7%;
  color: #e4edfd;
  width: 250px;
}

#dot {
  font-size: 10px;
  opacity: .7;
}

#match {
  border-bottom: 1px dashed #e4edfd;
  cursor: pointer;
}

#match: hover span {
  display: block;
  border-bottom: 1px solid #e4edfd
}

#profile {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 30px;
  margin-top: 4%;
  margin-left: 97%;
}

#block {
  width: 150%;
  height: 56px;
  background-color: #5e6573;
  opacity: .025;
  margin-top: 183px;
  z-index: -100;
  margin-left: -8%;
}

#round-icon {
    width: 11px;
    height: 11px;
    background: transparent;
    box-shadow: 0 0 0 1.5px #00d280;
    border-radius: 100%;
}

.app-summary {
  display: flex;
  flex-direction: row;
}
