#image {
  z-index: 100;
}

#liked, #message {
  height: 44px;
  width: 132px;
  border-radius: 4px;
  color: #e4edfd;
  border: 1px solid rgba(228,237,253,0.55);
  cursor: pointer;
  font-family: 'Open Sans',sans-serif;
  font-size: 17px;
}

#button {
  margin-left: 22%;
  margin-top: 8%;
}

#liked {
  background: none;
}

#message {
  background-color: #3260c7;
}

p {
  background-color: gray;
  font-size: 20px;
}

#perfect-match li {
  line-height: 150%;
  height: 50px;
  width: 200px;
  margin-left: -10%;
  font-family: 'Open Sans',sans-serif;
  font-size: 17px;
  text-align: center;
}

#tooltip-match {
  margin-left: -20%;
}

/*transition: all 110ms ease;*/


/*position: relative;
    padding: 13px 0;
    width: 1000px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;*/

#slider {

    height: 10%;
    position: fixed;
    top: 0px;
    background-color: #104da1;
    /*max-height: 70px;*/
    z-index: 999;
    width: 110%;
    padding-top: 26px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
    color: black;

    /*top: -100px;*/
    /*opacity: 0;*/
    /*background: none;*/
}
