#image {
  z-index: 100;
}

#liked, #message {
  height: 44px;
  width: 132px;
  border-radius: 4px;
  color: #e4edfd;
  border: 1px solid rgba(228,237,253,0.55);
  cursor: pointer;
  font-family: 'Open Sans',sans-serif;
  font-size: 17px;
}

#button {
  margin-left: 17%;
  margin-top: 10%;
}

#liked {
  background: none;
}

#message {
  background-color: #3260c7;
}


