body {
  font-family: 'Helvetica';
}

p {
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
  color: #999;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 30px;
  background-color: #333;
  color: #fff;
  position: fixed;
  transition: all .4s;
}

.high {
  padding-top: 150px;
  height: 3000px;
}

.scrolled {
  transform: translateY(-100%);
}



/*transform from 0 to 100%*/


#slider {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 26px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.scrolled {
    transform: translateY(-100%);
}
